node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env*
settings.json
.yarn/
# macOS
.DS_Store
gilder-android-google-key.json
GoogleService-Info.plist

yarn-error.log